@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&display=swap');
:root{
    --pastel-cyan: #ffb9ec;
    --pastel-cyan: #cdfffa;
    --pastel-purple: #e2bcff;
    --dark: rgb(40, 40, 40);
}
html{
    width:96%;
    margin-left:2%;
    margin-right:2%;
    font-family: 'Montserrat', sans-serif;
}
h1, h3
{
color:var(--dark);
background-color:var(--pastel-purple);
font-weight: 800;
}
h5
{
 color:var(--pastel-cyan);

}
h2
{
color:var(--dark);
background-color:var(--pastel-cyan);
font-weight: 800;
}
h4, h6{
color:var(--purple);
}
ul{
    list-style-type: circle;
}
/*links*/
a:link{
    color: white;

}
a:visited{
    color: white;
}
a:hover{
    color:var(--pastel-purple);

}
a:active{
    color: var(--pastel-cyan);
}
/*Nav links*/
nav a:link{
    color: var(--pastel-purple);
    text-decoration: none;
}
nav a:visited{
    color: var(--pastel-purple);
    text-decoration: none;

}
nav a:hover{
    color: white;
    text-decoration: none;

}
nav a:active{
    color: var(--pastel-cyan);
    text-decoration: none;

}
#current-page{
    color: var(--pastel-cyan);
}
nav{
    position:sticky;
    top:0;
    text-align: center;
    
}

#side-main{
    position:static;
    padding-right:4%;
    width:56%;
    border-right: 1px solid var(--pastel-purple);

}
side{
    position: absolute;
    width: 30%;
    right:0%;
    padding-left:4%;
    margin-right:4%;
}
header{
    width: 96%;
}
footer{
    position:absolute;
    bottom:0;
    width: 100%;
    text-align: center;
}
body{
    width:100%;
    background-color: var(--dark);
    color:white;
}
nav{
    width:100%;
}
.vanilla{
    background-color: var(--dark);
    color:white;
}
.blog{
    font-size: 1.25em;
}

#date{
    font-weight: 300;
}
