@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&display=swap');
:root{
    --accent: #00b4a2;
    --main: #ffe600;
    --dark: rgb(65, 65, 65);
    --light: white;
    font-size: clamp(16px, 24px, 100px);
}
html{
    box-sizing: border-box;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color:var(--dark);
}
body{
color:var(--dark);
}
ul{
    list-style: circle;
}
/*links*/
a:link{
    color: var(--dark);

}
a:visited{
    color: var(--dark);
}
a:hover{
    color:var(--accent);

}
a:active{
    color: var(--main);
}
 nav ul{
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
nav li{
    margin: 0.25rem;
}
/*Nav links*/
nav a:link, a:link{
    color: var(--dark);
    text-decoration: none;
}
nav a:visited, footer a:visited {
    color: var(--dark);
    text-decoration: none;

}
nav a:hover{
    color: var(--accent);
    text-decoration: none;
}

footer a:hover{
    color: var(--main);
    text-decoration: none;

}
nav a:active, footer a:active{
    color: var(--main);
    text-decoration: none;

}
#current-page{
    color: var(--accent);
}



h1.logo{
    font-size: 4rem;
    color:var(--main);
    background-color: var(--accent);
    font-weight: 800;
    border: solid 5px var(--dark);
    box-shadow: 15px 15px var(--main);
}
h1.logo:hover{
    font-size: 4rem;
    color:var(--accent);
    background-color: var(--main);
    font-weight: 800;
    border: solid 5px var(--dark);
    box-shadow: 15px 15px var(--accent);
}


footer{
    background-color: var(--accent);
    color:var(--light);
    border: solid 3px var(--dark);
    bottom:0;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

main{
    max-width: 1000px;
    margin: auto;
}

#date{
    font-weight: 300;
}
p{
    line-height: 2.5rem;
}
.accent{
    color: var(--accent);

}
.caps{
    text-transform:uppercase;
}
.title-desc h1, .title-desc h3, .title-desc p{
    display: inline;
    vertical-align: top;
    line-height: 2.5rem;
    padding: 0.25rem;
}
.blog--header{
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}